# dependencies
node_modules/
examples/**/node_modules/

# build output
dist/
storybook-static/
examples/**/dist/

# test / coverage
coverage/

# logs & os
*.log
.DS_Store

# env / npm auth
.env
.env.*
.npmrc

# editor
.vscode/
.idea/
